[Desktop Entry]
Name=Public IP Address
Comment=Shows Public IP Adress and VPN status

Type=Service
Icon=find-location-symbolic
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Davide Sandona
X-KDE-PluginInfo-Email=sandona.davide@gmail.com
X-KDE-PluginInfo-Name=com.github.davide-sd.ipaddress
X-KDE-PluginInfo-Version=1.2
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Website=https://github.com/Davide-sd/ip_address
